.container {
    display: grid;
    grid-gap: 20px;
    float: left;
    
    &__cabecera {
        width: 210px;
    }
    &__cuerpo img {
        width: 320px;
        
    }
    &__cuerpo p {
        width: 300px;
    }
}






