.container {
    display: grid;
    float: left;
    margin-top: 100px;
    
    &__cabecera {
        width: 200px;
    }
    &__cuerpo img {
        width: 300px;
        
    }
    &__cuerpo p {
        width: 300px;
    }
}






