.section {
    width: 300px;
    margin: 20px;
    float: right;
    margin-top: -1230px;

    &__cabecera {
        border-bottom: 1px solid gray;
    }
    
    &__tags {
        border-bottom: 1px solid gray;
        height: 90px;
    }
    
    &__tags a {
        color: white;
        padding: 1px 4px;
        background-color: steelblue;
        margin-right: 1px;
        float: right;
    }
}





.section  img {
    width: 280px;
    height: 180px;
}
